#goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
button.btn{
  font: inherit;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  float: right;
  cursor: pointer;
}
#goals .goal-item{
  background: #a81577;
    color: white;
    margin-top: 10px;
  padding: 10px;
  }